@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import "tailwindcss";

@theme {
    /* --color-red-*: initial; */
    --color-orange-*: initial;
    --color-amber-*: initial;
    /* --color-yellow-*: initial; */
    --color-lime-*: initial;
    /* --color-green-*: initial; */
    --color-emerald-*: initial;
    --color-teal-*: initial;
    --color-cyan-*: initial;
    --color-sky-*: initial;
    --color-blue-*: initial;
    --color-indigo-*: initial;
    --color-violet-*: initial;
    --color-purple-*: initial;
    --color-fuchsia-*: initial;
    --color-pink-*: initial;
    --color-rose-*: initial;
    --color-slate-*: initial;
    --color-gray-*: initial;
    --color-zinc-*: initial;
    --color-neutral-*: initial;
    --color-stone-*: initial;

    --color-black: #232323;
    --color-primary: #338753;
    --color-background: #EBEBEB;
/*
    --color-red-200: oklch(88.5%, 0.062, 18.334);
    --color-red-950: oklch(25.8%, 0.092, 26.042);
    --color-yellow-100: oklch(97.3%, 0.071, 103.193);
    --color-yellow-950: oklch(28.6%, 0.066, 53.813);
    --color-green-200: oklch(92.5%, 0.084, 155.995);
    --color-green-950: oklch(26.6%, 0.065, 152.934); */

    --glass-bg: linear-gradient(to bottom right, #ffffff99, #ffffff4D);
    /* --glass-border: linear-gradient(to bottom right, #ffffffB3, #ffffff33); */
    --glass-border: #ffffff7d;

    --font-*: initial;
    --font-barlow: 'Barlow Semi Condensed', sans-serif;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --text-sm-*: initial;
    --text-lg-*: initial;
    --text-xl-*: initial;
    --text-3xl-*: initial;
    --text-5xl-*: initial;
    --text-6xl-*: initial;
    --text-7xl-*: initial;
    --text-8xl-*: initial;
    --text-9xl-*: initial;

    --text-4xl: 2rem;

    --shadow-*: initial;

    --inset-shadow-2xs: initial;
    --inset-shadow-xs: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    --inset-shadow-sm: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.10);

    --drop-shadow-*: initial;
    --drop-shadow-xs: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    --drop-shadow-sm: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
}

@layer utilities {
    .bg-glass {
        background-image: var(--glass-bg);
    }

    .border-glass {
        outline: 1px solid var(--glass-border);
        outline-offset: -1px;
    }

    .inset-shadows {
        box-shadow: var(--inset-shadow-xs), var(--inset-shadow-sm);
    }

    .drop-shadows {
        box-shadow: var(--drop-shadow-xs), var(--drop-shadow-sm);
    }

    .blur-glass {
        backdrop-filter: blur(var(--blur-md));
    }
}

p, h1, h2, h3, h4, h5, h6 {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
}