@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import "tailwindcss";

@theme {
    --color-red-*: initial;
    --color-orange-*: initial;
    --color-amber-*: initial;
    --color-yellow-*: initial;
    --color-lime-*: initial;
    --color-green-*: initial;
    --color-emerald-*: initial;
    --color-teal-*: initial;
    --color-cyan-*: initial;
    --color-sky-*: initial;
    --color-blue-*: initial;
    --color-indigo-*: initial;
    --color-violet-*: initial;
    --color-purple-*: initial;
    --color-fuchsia-*: initial;
    --color-pink-*: initial;
    --color-rose-*: initial;
    --color-slate-*: initial;
    --color-gray-*: initial;
    --color-zinc-*: initial;
    --color-neutral-*: initial;
    --color-stone-*: initial;
    /* --color-black-*: initial; */

    --color-black: #232323;
    --color-primary: #338753;
    --color-background: #EBEBEB;

    --glass-bg: linear-gradient(to bottom right, #ffffff99, #ffffff4D);
    /* --glass-border: linear-gradient(to bottom right, #ffffffB3, #ffffff33); */
    --glass-border: #ffffff7d;

    --font-*: initial;
    --font-barlow: 'Barlow Semi Condensed', sans-serif;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --text-sm-*: initial;
    --text-lg-*: initial;
    --text-xl-*: initial;
    --text-3xl-*: initial;
    --text-5xl-*: initial;
    --text-6xl-*: initial;
    --text-7xl-*: initial;
    --text-8xl-*: initial;
    --text-9xl-*: initial;

    --text-4xl: 2rem;

}

@layer utilities {
    .bg-glass {
        background-image: linear-gradient(to bottom right, #ffffff99, #ffffff4D);
    }

    .border-glass {
        border: 2px solid var(--glass-border);
    }
}